*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(244, 244, 244);
}
.header{
    height: 75px;
    width: 95%;
    background-color: black;
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header .logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.logo{
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    background-color: white;
    border-radius: 5px;
}
.fa-solid{
    color: black;
}
.cart p{
    height: 18px;
    width: 18px;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: rgb(206, 228, 206);
    color: black;
}
.container{
    width: 95%;
    display: flex;
    gap: 40px;
}
.root{
    width: 70%;
    display: grid;
    height: 80vh;
    padding: 10px;
    overflow-y: scroll;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    height: 410px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #888888;
    background-color: white;
}
.card h1{
    font-size: 1.5rem;
}
.card p{
    font-size: 14px;
    padding: 5px;
    text-align: justify;
}
.sidebar{
    width: 30%;
}
.phoneImage{
    width: 90%;
    height: 250px;
}
.details{
    display: flex;
    width: 80%;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}
.addToCart{
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
}
.search{
    font-size: 16px;
    width: 400px;
    height: 30px;
    padding-left: 7px;
    border-radius: 9px;
}
.value{
    font-weight: 600;
}
.sidebar{
    width: 25%;
    display: flex;
    right: 40px;
    flex-direction: column;
    height: 35vw;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: 5px solid rgb(138, 131, 103);
    align-items: center;
}
.sidebar .head{
    width: 100%;
    border: 2px solid white;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.cartItem{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
    height: 80%;
    overflow: auto;
}
.fa2{
    color: aliceblue;
}
.addToCart{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
}
.itemCartDiv{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.btn-minus {
    font-size: 10px;
    background-color: rgb(255, 255, 255);
    margin: 8px;
    padding: 0 9px;
    line-height: 2;
}
.btn-plus {
    background-color: rgb(255, 255, 255);
    font-size: 10px;
    margin: 8px;
    padding: 0 8px;
    line-height: 2;
}
.quantityControlDiv{
    display: flex;
    align-items: center;
}
.productCount{
    border: 1px solid black;
    padding: 0px 6px;
}
.placeOrder{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
}
.foot{
    display: flex;
}
.noItem{
    background-color: black;
    width: 200px;
    height: 200px;
}
#count{
    color: red;
    position: absolute;
    right: 45px;
    top: 45px;
}